02/Dify-DSL/Webページ要約.yml
app:
  description: Webページの本文を要約します。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Webページ要約
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1765529984878-source-1764486311174-target
      source: '1765529984878'
      sourceHandle: source
      target: '1764486311174'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1764486294434-source-1764487559538-target
      source: '1764486294434'
      sourceHandle: source
      target: '1764487559538'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1764487559538-source-1765529984878-target
      source: '1764487559538'
      sourceHandle: source
      target: '1765529984878'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: ユーザー入力
        type: start
        variables:
        - default: ''
          hint: ''
          label: url
          max_length: 200
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: url
      height: 109
      id: '1764486294434'
      position:
        x: 0
        y: 2
      positionAbsolute:
        x: 0
        y: 2
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1765529984878'
          - text
          value_type: string
          variable: result
        selected: false
        title: 出力
        type: end
      height: 88
      id: '1764486311174'
      position:
        x: 1026
        y: 13
      positionAbsolute:
        x: 1026
        y: 13
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: used for linking to webpages
            ja_JP: used for linking to webpages
            pt_BR: used for linking to webpages
            zh_Hans: 用于链接到网页
          label:
            en_US: URL
            ja_JP: URL
            pt_BR: URL
            zh_Hans: 网页链接
          llm_description: url for scraping
          max: null
          min: null
          name: url
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML,
            like Gecko) Chrome/100.0.1000.0 Safari/537.36
          form: form
          human_description:
            en_US: used for identifying the browser.
            ja_JP: used for identifying the browser.
            pt_BR: used for identifying the browser.
            zh_Hans: 用于识别浏览器。
          label:
            en_US: User Agent
            ja_JP: User Agent
            pt_BR: User Agent
            zh_Hans: User Agent
          llm_description: null
          max: null
          min: null
          name: user_agent
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 'false'
          form: form
          human_description:
            en_US: If true, the crawler will only return the page summary content.
            ja_JP: If true, the crawler will only return the page summary content.
            pt_BR: If true, the crawler will only return the page summary content.
            zh_Hans: 如果启用，爬虫将仅返回页面摘要内容。
          label:
            en_US: Whether to generate summary
            ja_JP: Whether to generate summary
            pt_BR: Whether to generate summary
            zh_Hans: 是否生成摘要
          llm_description: null
          max: null
          min: null
          name: generate_summary
          options:
          - icon: null
            label:
              en_US: 'Yes'
              ja_JP: 'Yes'
              pt_BR: 'Yes'
              zh_Hans: 是
            value: 'true'
          - icon: null
            label:
              en_US: 'No'
              ja_JP: 'No'
              pt_BR: 'No'
              zh_Hans: 否
            value: 'false'
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        params:
          generate_summary: ''
          url: ''
          user_agent: ''
        plugin_id: null
        plugin_unique_identifier: ''
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/tool-provider/builtin/webscraper/icon
        provider_id: webscraper
        provider_name: webscraper
        provider_type: builtin
        selected: false
        title: Web Scraper
        tool_configurations:
          generate_summary:
            type: constant
            value: false
          user_agent:
            type: mixed
            value: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML,
              like Gecko) Chrome/100.0.1000.0 Safari/537.36
        tool_description: A tool for scraping webpages.
        tool_label: Web Scraper
        tool_name: webscraper
        tool_node_version: '2'
        tool_parameters:
          url:
            type: mixed
            value: '{{#1764486294434.url#}}'
        type: tool
      height: 114
      id: '1764487559538'
      position:
        x: 342
        y: 0
      positionAbsolute:
        x: 342
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0
            top_p: 0
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 27489bff-af79-4fe5-ac4b-a65ef1c7c460
          role: system
          text: '入力された内容を800字以内、かつ中学生でもわかりやすいように平易な文章表現で要約してください。ただし、入力に含まれない内容を推測したり、生成してはいけません。


            【出力フォーマット】


            # <ページタイトル>

            <要約>'
        - id: 2d5889af-e548-4a90-b836-b0ebae51e77a
          role: user
          text: '{{#1764487559538.text#}}'
        selected: false
        title: LLM 要約
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1765529984878'
      position:
        x: 684
        y: 13
      positionAbsolute:
        x: 684
        y: 13
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 11.022910394229939
      y: 431.6798084131266
      zoom: 1.0610015965572788
  rag_pipeline_variables: []
